@model List<InventoryApplicationContract.Costumer.Costmerview>
<div class="page-wrapper">
<div class="content">
<div class="page-header">
    <div class="page-title">
        <h4>Customer List</h4>
        <h6>Manage your Customers</h6>
    </div>
    <div class="page-btn">
        <a href="addcustomer.html" class="btn btn-added"><img src="assets/img/icons/plus.svg" alt="img">Add Customer</a>
    </div>
</div>

<div class="card">
<div class="card-body">
<div class="table-top">
    <div class="search-set">
        <div class="search-path">
            <a class="btn btn-filter" id="filter_search">
                <img src="assets/img/icons/filter.svg" alt="img">
                <span><img src="assets/img/icons/closes.svg" alt="img"></span>
            </a>
        </div>
        <div class="search-input">
            <a class="btn btn-searchset"><img src="assets/img/icons/search-white.svg" alt="img"></a>
        </div>
    </div>
    <div class="wordset">
        <ul>
            <li>
                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="assets/img/icons/pdf.svg" alt="img"></a>
            </li>
            <li>
                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="assets/img/icons/excel.svg" alt="img"></a>
            </li>
            <li>
                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="assets/img/icons/printer.svg" alt="img"></a>
            </li>
        </ul>
    </div>
</div>

<div class="card" id="filter_inputs">
    <div class="card-body pb-0">
        <div class="row">
            <div class="col-lg-2 col-sm-6 col-12">
                <div class="form-group">
                    <input type="text" placeholder="Enter Customer Code">
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
                <div class="form-group">
                    <input type="text" placeholder="Enter Customer Name">
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
                <div class="form-group">
                    <input type="text" placeholder="Enter Phone Number">
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
                <div class="form-group">
                    <input type="text" placeholder="Enter Email">
                </div>
            </div>
            <div class="col-lg-1 col-sm-6 col-12  ms-auto">
                <div class="form-group">
                    <a class="btn btn-filters ms-auto"><img src="assets/img/icons/search-whites.svg" alt="img"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
<table class="table  datanew">
<thead>
<tr>
    <th>نام مشتری</th>
    <th>کد مشتری</th>
     <th>شماره تماس</th>
    <th>ایمیل</th>
    <th>کشور</th>
    <th>عملیات</th>
</tr>
</thead>
<tbody>
@foreach (var item in @Model)
{

    <tr>
        <td>
 @item.CustomerName
        </td>
         <td>@item.Id</td>
         <td>@item.Phone </td>
        <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1165797e7c7062517469707c617d743f727e7c"> @item.Email</a></td>
        <td>@item.Countryref</td>
        <td>
            <a class="me-3" href="editcustomer.html">
                <img src="assets/img/icons/edit.svg" alt="img">
            </a>
            <a class="me-3 confirm-text" href="javascript:void(0);">
                <img src="assets/img/icons/delete.svg" alt="img">
            </a>
        </td>
    </tr>
}


</tbody>
</table>
</div>
</div>
</div>

</div>
</div>
@section Scripts
{

    <script type="text/javascript">

        function openseccessmodal(strMassege) {
            var mydiv = document.getElementById("MyModelSuccessAlertbody");
            mydiv.innerHTML = strMassege;
            $('#MyModalSeccuse').modal('show');

        }
        $(document).ready(function () {
            var msg = "@TempData["successMassege"]";
            if (msg)
                openseccessmodal(msg);


        });
    </script>

}