@model List<InventoryApplicationContract.Categores.viewModel>
<div class="page-wrapper">
    <div class="content">

        <div class="page-header">
            <div class="page-title">
                <h4>لیست دسته بندی محصولات</h4>
                <h6>جستوجوی دسته بندی</h6>
            </div>
            <div class="page-btn">
                <a asp-action="CreateCategories" asp-controller="Categores" class="btn btn-added">
                    <img src="~/assets/img/icons/plus.svg" class="me-1" alt="img">افزودن دسته بندی
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>نام دسته بندی</th>
                                <th>کد دسته بندی</th>
                                <th>توضیحات</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model)
                            {
                                <tr>
                                    <td>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </td>
                                    <td class="productimgname">
                                        <a href="javascript:void(0);" class="product-img">
                                        </a>
                                        <a href="javascript:void(0);">@item.CategoryName</a>
                                    </td>
                                    <td>@item.CategoryCode</td>
                                    <td>@item.Descirption</td>
                                    <td>

                                        <a class="me-3" asp-route-id="@item.Id" asp-action="Editecategorey" asp-controller="Categores">
                                            <img src="~/assets/img/icons/edit.svg" alt="img">
                                        </a>
                                        <a href="@Url.Action("DeleteCategory", "Categores", new { Id = item.Id })">
                                            <img src="~/assets/img/icons/delete.svg" alt="img">
                                        </a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts
{

<script type="text/javascript">

    function openseccessmodal(strMassege){
    var mydiv=document.getElementById("MyModelSuccessAlertbody")  ;
    mydiv.innerHTML=strMassege;
    $('#MyModalSeccuse').modal('show');

    }
    $(document).ready(function(){
    var msg="@TempData["successMassege"]";
    if(msg)
        openseccessmodal(msg);


    });
</script>

}
